@charset "utf-8";

/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Liens entre les feuilles de style CSS
 * Header
 * Formulaire
 * Footer
*/

/* LIENS ENTRE LES FEUILLES CSS */

@import url(/css/normalize.css);
@import url(/css/typo.css);
@import url(/css/utilitaires.css);

/* HEADER */

header {
    background-color:rgb(223, 218, 210);
}

header p:first-of-type {
    margin: 0;
}

nav {

    background: rgb(199, 195, 189);

}

.nav__liste {

    display: flex;
    flex-direction: column;
    padding: 0;

}

@media (min-width: 600px) {

    .nav__liste {

    flex-direction: row;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;

    }

}

.nav__item {

    list-style: none;
    padding: 10px 0;
    margin: 0 auto;

}

@media (min-width: 600px) {

   .nav__item {

    padding: 0;
    margin: 0

   }

}

header ul li a:hover {

    color: #666;
    text-decoration: underline;

}

h1 {
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;

}


/* ----------------- FORMULAIRE ----------------- */

/* FORM */

form {

    max-width: 900px;
    margin: auto;
    
}

/* BOUTTONS */

button {
    border: 3px rgb(23, 61, 87) solid;
    border-radius: 13px;
    padding: 8px;
    background-color: aliceblue;
}

button:hover, button:focus {

    background-color: rgb(198, 217, 235);
    border: 3.5px rgb(133, 190, 77) solid;

}

.bouton-confirmer {

    padding-top: 50px;

}

.boutons {

    margin: 0 1rem;

}

/* INPUT ET SELECT */

.dispo-date {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

select, input{

    padding: 5px 0px 5px 5px;
    margin: 0 0.35rem;
    border-radius: 6px;
    border: 3px var(--couleur-dominante) solid;
    background-color: aliceblue;

}

select:focus, input:focus {

    border: 5px rgb(133, 190, 77) solid;

}

/* HYPERLIENS */

a {
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited {

    color: rgb(23, 61, 87);

}

a:hover, a:active {

    color: var(--couleur-dominante);
    font-weight: bold;

}

/* NOMBRE DE PERSONNES */

.nbr-personne {

    padding-bottom: 20px;

}

/* CHAMBRES ET FORFAITS */


.ctn-radio {

    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (min-width: 600px) {

    .ctn-radio { 

    
    flex-direction: row;
    max-width: 700px;     
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;

   } 
}

ul.ctn-radio li {

 width: 150px;
 padding-bottom: 20px;


}


ul.ctn-radio img {

    filter: grayscale();

}

ul.ctn-radio img:hover {

    filter:none;

}

li [type="radio"]:checked+label img,
li [type="radio"]:focus+label img {

    filter:none;
    border: 4px var(--couleur-secondaire) solid;

}

ul.ctn-radio li:hover {

    font-weight: bold;

}

/* IDENTIFICATION */

fieldset.identifiant label {

    display: block;
    margin-bottom: 0.5rem; 
    padding-left: 0.5rem;

}

/* MESSAGES ERREURS */

.erreur {

    background-color: rgb(221, 239, 255);
    text-align: left;
    font-weight: bold;
    padding: 10px;

}

.icone {

    display: inline-block;
    width: 26px;
    height: 24px;
    background-image: url("../images/icones/point-dexclamation.png");
    background-size: cover;
    position: relative;
    top: 4px;
    background-color: var(--couleur-secondaire);

}

/* STYLES FIELDSET */ 

.fieldset_dates {

    border: 0;

}

fieldset.dates {

    border: 5px var(--couleur-secondaire) solid;
    border-bottom-style: dashed;
    border-radius: 15px 15px 0 0;

}

fieldset.section-nbr-personne,
fieldset.choix-chambres {
    
    border: 5px var(--couleur-secondaire) solid;
    border-bottom-style: dashed;;
    border-top-style: dashed;

}

fieldset.identifiant {

    border: 5px var(--couleur-secondaire) solid;
    border-top-style: dashed;
    border-radius: 0 0 15px 15px;

}

/* LEGENDES FIELDSET*/

legend {

    text-align: center;

}

@media (min-width: 600px) {

    legend {

        text-align: left;

    }

}

/* ------------------ FIN FORMULAIRE ------------------- */

/* FOOTER */

footer {

    background-color:rgb(223, 218, 210);
    
}

footer p {

    margin: 0;

}

